@import "tailwindcss";

@theme inline {
  --color-brand-primary: var(--brand-primary);
  --color-accent: var(--accent);
  --color-surface-dark: var(--surface-dark);
  --color-border-dark: var(--border-dark);
  --color-text-muted: var(--text-muted);
  --color-text-muted2: var(--text-muted2);
  --color-bg-dark: var(--bg-dark);
}

:root {
  --surface-dark: #0f111a;
  --border-dark: #1f2233;
  --brand-primary: #7C3AED;
  --brand-dark: #5B21B6;
  --text-muted: #8B8BA0;
  --text-muted2: #5A5A72;
  --accent: #06B6D4;
  --bg-dark: #07070D;
}

body {
  background-color: var(--bg-dark);
  color: #F4F4F8;
}
